footer {
  background: #202023;
}
.footer_info {
  display: flex;
  justify-content: space-between;
  margin: 0px 200px 0px 160px;
}
.footer_div1 {
  margin-left:110px;
  
}
.footer_title {
  color: #fff;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  
}
.footer_desckr1 {
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.footer_desckr2 {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.footer_desckr4 {
  color: #ffffff;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
  text-align: center;
  margin: 0;
  padding: 44px ;
}
.where_list {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .footer_info {
    flex-direction: column;
    align-items: center;
    width: auto;
    row-gap: 50px;
  }
  .footer_div4  {
    margin-left: 40px;
  }
}
@media (max-width: 300px) {
  .footer_div1 {
    margin-left: 0px;
  }
  .footer_info {
    margin: 0;
  }
  .footer_div4  {
    margin-left: 60px;
  }
}