.overlay {
  background: linear-gradient(66deg, #000 0%, rgba(0, 0, 0, 0.00) 5%);
}
.main {
  background-image: url(/img/image/photo_2022-06-05_13-14-26\ 1.png);
  padding: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.main_list {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  padding: 55px 15px 15px 0px;
}
.main_list a{
  color: #fff;
}
.main_li a{
  color: #fff;
}
.main_list a:hover{
  color: #2196f3;
  transition: 0.7s;
}
.main_li a:hover{
  color: #2196f3;
  transition: 0.7s;
}
.nav_list {
  display: flex;
  flex-direction: row;
}
.main_li {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  padding: 55px 15px 15px 110px;
}
h1 {
  color: #fff;
  font-family: Inter;
  font-size: 70px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  margin: 0px 724px 0px 146px;
}
.main_p {
  color: #fff;
  font-family: Inter;
  font-size: 21px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin: 22px 760px 33px 146px;
}
.main_btn {
  border-radius: 17px;
  background: #b47b48;
  width: 207px;
  height: 57px;
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin: 0px 1067px 125px 146px;
}
.main_btn:hover {
  background-color:#2196f3;
  color: black;
  transition: 2s;
}
.baking_item {
  background: #272727;
  width: 310px;
  height: 225px;
  display: flex;
}
.baking_item:hover {
  background: #EBAD51;
  transition: 0.8s;
}
.baking_p1 {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
}
.baking_p2 {
  color: #fff;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.baking_btn {
  background: #c85312;
  width: 79px;
  height: 34px;
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.baking_list {
  display: flex;
  justify-content: space-between;
  padding: 125px 115px 36px 162px;
}
