.quality {
  
  background-color: #202023;
}
.quality_info {
  background-image: url(../../img/image/quality_bg.png);
}
.quality_title {
  color: #fff;
  font-family: Italiana;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin: 90px 0px 46px;
}
.quality_item {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.quality_list {
  background: rgba(242, 242, 242, 0.3);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(18px);
  padding: 32px 4px 50px 19px;
}
.quality_list_big {
  display: flex;
  margin-left: 0px;
}
.quality_item_big1 {
  margin-left: 30px;
}
.quality_item_big2 {
  margin-left: 30px;
  margin-top: 60px;
}
.quality_item_big3 {
  margin-left: 30px;
  margin-top: 150px;
}
@media (max-width: 768px) {
  .quality_list_big {
   flex-direction: column;
   align-items: center;
   width: auto;
   row-gap: 30px;
  }
 }