.where {
  background: #202023;
  margin: 0;
  display: flex;
  justify-content: space-between;
}
.where_tile_big {
  color: #fff;
  font-family: Italiana;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.where_img iframe {
  width: 535.213px;
  height: 487px;
}
.where_groups {
  margin-left: 137px;
}
.where_tile_small {
  color: #fff;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.how_desckr1 {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 65px;
}
.how_desckr2 {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.when_desckr {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.how {
  margin-left: 132px;
  margin-top: 50px;
}
.when {
  margin-left: 132px;
  margin-top: 50px;
}


@media (max-width: 768px) {
  .where_list {
    flex-direction: column;
    align-items: center;
    width: auto;
    row-gap: 50px;
  }
  .where_img iframe {
    width: 300px;
    height: 300px;
  }
}
@media (max-width: 300px) {
  .how {
    margin: 0;
  }
  .where_groups {
    margin: 0;
  }
  .when {
    margin: 0;
  }
  .where_img iframe {
    width: 200px;
    height: 200px;
  }
}